body{
	background-color:white;
	font-family: Roboto, sans-serif;
}

.top{
	background-color:#1F2937;
}

.header .link{
	color:#E5E7EB;
	float:right;
	margin:5px;
}

.header .logo{
	color:#F9FAF8;
	font-size:24px;
	font-weight:bold;
	margin-left:100px;
	margin-right:250px;
}
.header{	
	margin-bottom:100px;
}

.main{
	font-size:48px;
	font-weight:bolder;
	color:#F9FAF8;
	flex:1;
}

.secondary {
	font-size:18px;
	color:#E5E7EB;
	flex:1
}

button,call-to-action{
	background-color:#3882F6;
	border-radius:5px;
}
.button1{
	border-color:#3882F6;
	padding-left:20px;
	padding-right:20px;
	flex:1;
}

.toppish{
	margin-left:100px;
	display:flex;
	flex-direction: column;
}

.col1,.col2{
	display:flex;
	flex:1;
}

.filler-image{
	border-color:red;
	border-style:solid;
	width:200px;
	height:100px;
	flex:1;
}
